body{
  width: 250px;
  background-color: #ffffff;
  color: #3fc8ac;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

/* Header */
.name{
  text-align: center;
}
h1.name{
  font-size: 30px;
}
h2.name{
  margin-top: -20px;
  font-size: 10px;
}

#privacy{
  color: #3fc8ac;
  text-decoration: none;
}

/* Reset Button */
/* .button{
  position: absolute;
  top: 50%;
} */
.wrapper{
  text-align: center;
}
button{
  background-color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #5ce1e6;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
}
#link{
  font-size: 15px;
  border-radius: 4px;
  color: #3fc8ac;
}
button:hover{
  background-color: #ffffff;
}

.factor{
  font-size: 15px;
  letter-spacing: 0px;
  text-align: left;
  padding: 5px;
  margin: 0;
}
.factor:hover{
  background-color: rgba(39, 39, 39, 0.05);
}

hr{
  border: 0.5px solid rgba(39, 39, 39, 0.2);
  margin-top: -1px;
  margin-bottom: -1px;
}